<thead>
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Description") %></th>
    <th><%= _("CPUs") %></th>
    <th><%= _("Memory (GB)") %></th>
    <th><%= _("Disk Size (GB)") %></th>
    <th><%= _("GPUs") %></th>
    <th><%= _("State") %></th>
    <th><%= _("Actions") %></th>
  </tr>
</thead>
<tbody>
  <% @vms.each do |vm| %>
    <% view_path =
      hash_for_compute_resource_vm_path(
        compute_resource_id: @compute_resource,
        id: vm.identity,
      ).merge(
        auth_object: @compute_resource.id,
        auth_action: "view",
        authorizer: authorizer,
      )
    delete_link =
      display_delete_if_authorized(
        hash_for_compute_resource_vm_path(
          compute_resource_id: @compute_resource,
          id: vm.identity,
        ).merge(auth_object: @compute_resource, authorizer: authorizer),
      ) %>
    <tr>
      <td><%= link_to_if_authorized vm.name, view_path %></td>
      <td><%= vm.description %></td>
      <td><%= vm.cpus %></td>
      <td><%= vm.memory %></td>
      <td><%= vm.disk_size_gb %></td>
      <td>
        <% if vm.gpus.empty? %>
          <input type="checkbox" disabled/>&nbsp;
        <% else %>
          <input type="checkbox" disabled checked/>&nbsp;
        <% end %>
      </td>
      <td><%= vm.status.downcase %></td>
      <td>
        <%= action_buttons(
          vm_power_action(vm, authorizer),
          vm_import_action(vm),
          vm_associate_link(vm),
          delete_link,
        ) %>
      </td>
    </tr>
  <% end %>
</tbody>
