<%= compute_specific_js(compute_resource, "host_edit") %>
<%= javascript "hosts", "host_edit", "host_edit_interfaces" %>

<%= text_f f,
:description,
label: _("Description"),
help_inline: _("Description for VM in Nutanix") %>

<%= select_f f,
:image_id,
compute_resource.available_images,
:id,
:name,
{ include_blank: _("Select Image") },
{
  label: _("Image"),
  help_inline: _("Operating system image to use (optional)"),
} %>

<%# NOTE: If we're on a Host Edit page - show the selected
#      network by not having a 'include_blank'. Once
#      editing is implemented, this might be able to go away. %>
<% include_blank =
  f.object.class == "ForemanNutanix::NutanixCompute" ? nil : _("Select Network") %>
<%= select_f f,
:network_id,
compute_resource.available_networks,
:id,
:name,
{ include_blank: include_blank, selected: f.object.try(:network_id) },
{ label: _("Network"), help_inline: _("Network/subnet for the VM") } %>

<%# NOTE: If we're on a Host Edit page - show the selected
#      storage container by not having a 'include_blank'. Once
#      editing is implemented, this might be able to go away. %>
<%= select_f f,
:storage_container,
compute_resource.available_storage_containers,
:id,
:name,
{
  include_blank: _("Select Container"),
  selected: f.object.try(:storage_container),
},
{
  label: _("Storage Container"),
  help_inline: _("Storage container for VM disks"),
} %>

<%= counter_f f,
:cpus,
{ label: _("CPUs"), help_inline: _("Number of CPU cores"), min: 1, max: 32 } %>

<%= counter_f f,
:memory,
{
  label: _("Memory (GB)"),
  help_inline: _("Amount of memory in GB"),
  min: 1,
  max: 64,
} %>

<%= counter_f f,
:disk_size_gb,
{
  label: _("Disk Size (GB)"),
  help_inline: _("Size of the boot disk in GB"),
  min: 2,
  max: 10_000,
} %>

<%= checkbox_f f,
:power_on,
{
  label: _("Power On After Creation"),
  help_inline:
    _(
      "Automatically power on the VM after it is created. If power-on fails, the VM will be deleted.",
    ),
  checked: true,
} %>

<%= select_f f,
:boot_method,
compute_resource.available_boot_methods,
:id,
:name,
{ include_blank: _("Select boot method") },
{
  label: _("Boot method"),
  help_inline: _("Select boot method"),
  id: "boot-method-select",
} %>

<div id="uefi-options" class="hidden">
  <%= checkbox_f f,
  :secure_boot,
  { label: _("Secure Boot"), help_inline: _("Enable secure boot") } %>
</div>

<script>
  var $bootMethod = $('#boot-method-select');

  function toggleUefiOptions() {
    $('#uefi-options').toggleClass('hidden', $bootMethod.val() !== 'uefi');
  }

  toggleUefiOptions();
  $bootMethod.on('change', toggleUefiOptions);
</script>
